.frame {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 223px;

  border: 1px solid #e6e6e6;
  border-radius: 12px;
}
